NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
TRIAGE_AGENT_URL=http://localhost:8002
CDN_API_HOST=https://api.heribase.com
CDN_API_PATH=/app/v1
CDN_UPLOAD_UT=
CDN_UPLOAD_UUID=
ALIYUN_CAPTCHA_PREFIX=
ALIYUN_CAPTCHA_SCENE_ID=
ALIYUN_CAPTCHA_REGION=cn
